*{
    margin: 0px;
    max-width: 100%;
   
}

@media only screen and (max-width: 600px){
   *{
        max-width: 100%;
   };
}

.flex-box {
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(99, 113, 173);
  }

.corpo{
    font-size: 12px;
    color: black;
    border: 1px solid;
    border-radius: 10px;
    top: 50%;
    text-align: center;
    position: absolute;
    background-color: rgb(99, 113, 173);
    width: 200px;
    height: 200px;
    gap: 5px;
}
    



.campo{ margin: 5px;
    width: 160px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(201, 199, 199);
}

.botao{
    width: 130px;
}